:root {
    --color-background-secondary: #f2f3f7;
    --color-text-primary: #1d2023;
    --color-background-inverted: #1d2023;
    --color-text-inverted: #fafafa;
    --color-control-secondary-active: #1d2023;
    --color-constant-greyscale-0: #fff;
    --color-constant-greyscale-800: #1d2023;
    --button-primary-bg: #ff0032;
    --button-primary-color: #fff;
    --header-height: 83px;
    --color-background-secondary-elevated: 0 0 6px rgba(0,0,0,.08),0 4px 16px rgba(0,0,0,.08);
    --color-background-stroke: rgba(188, 195, 208, .5);
    --color-text-secondary: #626c77;
}

/* buttons */
.menu-button:hover {
    transform: scale(102%);
}

.menu-button:active {
    transform: scale(98%);
}

/* burger-button */
.burger-checkbox:checked + .menu-button .line:first-child {
    transform: translateY(6px) rotate(45deg) scaleX(1.2)
}

.burger-checkbox:checked + .menu-button .line:nth-child(2) {
    transform: scale(0);
}

.burger-checkbox:checked + .menu-button .line:last-child {
    transform: translateY(-6px) rotate(-45deg) scaleX(1.2);
}

/* changing header and showing menu when burger button is clicked */
.app-header:has(.burger-checkbox:checked) {
    background-color: #fff;
    box-shadow: var(--color-background-secondary-elevated);
}

.app-header:has(.burger-checkbox:checked) ~ .menu-wrapper > .menu-options {
    opacity: 1;
    transform: translateX(0);
}

/* showing accordion content */
.accordion-header:has(.checkbox-accordion:checked) + .accordion-content,
.accordion-header:has(.checkbox-accordion:checked) + .unnested-accordion-content {
    max-height: 3000px;
    padding-bottom: 23px;
}

.accordion-header:has(.checkbox-accordion:checked) .accordion-name {
    color: var(--button-primary-bg);
}

.accordion-header:has(.checkbox-accordion:checked) .accordion-action {
    transform: rotate(-180deg);
}

/* showing nested accordion content */
.nested-accordion-header:has(.checkbox-nested-accordion:checked) + .nested-accordion-content {
    max-height: 3000px;
}

.nested-accordion-header:has(.checkbox-nested-accordion:checked) .vertical-line {
    transform: rotate(0);
}

@media (max-width: 768px) {
    .app-header:has(.burger-checkbox:checked) ~ .menu-wrapper > .menu-options {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 1281px) {
    /* when the menu is opened in a window which width <= 1280px 
       and the window is scaled to >1280px for white background to dissapear */
    .app-header:has(:not(.burger-checkbox:checked)) {
        box-shadow: none;
        background: var(--color-background-secondary-elevated);
    }

    /* showing big menus */
    .menu-wrapper:has(.products-accordion:checked) .products-big-menu {
        transform: translateY(128px);
        box-shadow: var(--color-background-secondary-elevated);
    }

    .menu-wrapper:has(.services-accordion:checked) .services-big-menu {
        transform: translateY(128px);
        box-shadow: var(--color-background-secondary-elevated);
    }

    .menu-wrapper:has(.events-accordion:checked) .events-big-menu {
        transform: translateY(128px);
        box-shadow: var(--color-background-secondary-elevated);
    }

    .menu-wrapper:has(.support-accordion:checked) .support-big-menu {
        transform: translateY(128px);
        box-shadow: var(--color-background-secondary-elevated);
    }

    /* grey color of the section/link when hovered */
    .big-menu-label:hover {
        background-color: var(--color-background-secondary);
    }

    .content-list-item:hover {
        background: var(--color-background-secondary);
    }

    /* black color of the selected section */
    .big-menu-radio:checked + .big-menu-label {
        background-color: var(--color-background-inverted);
        color: var(--color-text-inverted);
    }

    /* changing sections in big menus */

    .products-big-menu:has(.big-menu-iaas-radio:checked) > .base-menu-content > .base-menu-content-iaas {
        display: block;
    }

    .products-big-menu:has(.big-menu-iaas-radio:checked) .base-menu-content-item:not(.base-menu-content-iaas) {
        display: none;
    }

    .products-big-menu:has(.big-menu-saas-radio:checked) > .base-menu-content .base-menu-content-saas {
        display: block;
    }

    .products-big-menu:has(.big-menu-saas-radio:checked) .base-menu-content-item:not(.base-menu-content-saas) {
        display: none;
    }

    .products-big-menu:has(.big-menu-dbaas-radio:checked) > .base-menu-content .base-menu-content-dbaas {
        display: block;
    }

    .products-big-menu:has(.big-menu-dbaas-radio:checked) .base-menu-content-item:not(.base-menu-content-dbaas) {
        display: none;
    }

    .products-big-menu:has(.big-menu-secaas-radio:checked) > .base-menu-content .base-menu-content-secaas {
        display: block;
    }

    .products-big-menu:has(.big-menu-secaas-radio:checked) .base-menu-content-item:not(.base-menu-content-secaas) {
        display: none;
    }

    .products-big-menu:has(.big-menu-naas-radio:checked) > .base-menu-content .base-menu-content-naas {
        display: block;
    }

    .products-big-menu:has(.big-menu-naas-radio:checked) .base-menu-content-item:not(.base-menu-content-naas) {
        display: none;
    }

    .products-big-menu:has(.big-menu-ai-radio:checked) > .base-menu-content .base-menu-content-ai {
        display: block;
    }

    .products-big-menu:has(.big-menu-ai-radio:checked) .base-menu-content-item:not(.base-menu-content-ai) {
        display: none;
    }

    .services-big-menu:has(.big-menu-consulting-radio:checked) .base-menu-content .base-menu-content-consulting {
        display: block;
    }

    .services-big-menu:has(.big-menu-consulting-radio:checked) .base-menu-content-item:not(.base-menu-content-consulting) {
        display: none;
    }

    .services-big-menu:has(.big-menu-outsourcing-radio:checked) .base-menu-content .base-menu-content-outsourcing {
        display: block;
    }

    .services-big-menu:has(.big-menu-outsourcing-radio:checked) .base-menu-content-item:not(.base-menu-content-outsourcing) {
        display: none;
    }

    .services-big-menu:has(.big-menu-custom-radio:checked) .base-menu-content .base-menu-content-custom {
        display: block;
    }

    .services-big-menu:has(.big-menu-custom-radio:checked) .base-menu-content-item:not(.base-menu-content-custom) {
        display: none;
    }

    /* when some big menu is opened */
    .accordion-header:has(.checkbox-accordion:checked) .accordion-action {
        transform: rotate(-180deg);
        color: red;
    }

    body:has(.checkbox-accordion:checked) > .app-header {
        background: #fff;
    }

    .menu-options:has(.checkbox-accordion:checked) {
        background: #fff;
        box-shadow: var(--color-background-secondary-elevated);
    }

    /* when some item is hovered */
    .accordion-item:hover,
    .accordion-link:hover {
        color: var(--button-primary-bg);
    }
}