:root {
    --color-background-secondary: #f2f3f7;
    --color-text-primary: #1d2023;
    --color-background-inverted: #1d2023;
    --color-text-inverted: #fafafa;
    --button-primary-bg: #ff0032;
    --button-primary-color: #fff;
    --color-background-secondary-elevated: 0 0 6px rgba(0, 0, 0, .08), 0 4px 16px rgba(0, 0, 0, .08);
    --color-background-stroke: rgba(188, 195, 208, .5);
    --color-text-secondary: #626c77;
}

@font-face {
    font-family: 'MTSCompactMedium';
    src: url('fonts/MTSCompact-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MTSCompactRegular';
    src: url('fonts/MTSCompact-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MTSWide';
    src: url('fonts/MTSWide-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MTSText';
    src: url('fonts/MTSText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    font-size: 0.92vw;
}

body {
    font: 1.125rem MTSCompactMedium, MTS Sans;
    margin: 0;
    background: var(--color-background-secondary);
    min-width: 320px;
    height: 3000px;
    padding: 0.5rem 30px;

}

.menu-header {
    background: var(--color-background-secondary);
    color: var(--color-text-primary);
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    display: flex;
    margin: 0 auto;
    /*box-shadow: var(--color-background-secondary-elevated);*/
    z-index: 10;
    transition: background-color .3s ease, transform .3s ease, box-shadow .3s ease;


    padding: 1rem 1.5rem;

}

.buttons {
    display: flex;
    column-gap: 0.5rem;
    margin-left: auto;
}

.button {

    cursor: pointer;
    border: none;
    padding: 0.6rem;
    position: relative;
    transition: transform .15s ease-in-out;
    display: inline-flex;
    align-items: center;
    border-radius: 0.5rem;

    background: var(--color-background-inverted);
    color: var(--button-primary-color);

}

.link {
    display: flex;
    text-decoration: none;
    color: inherit;
    gap: 0.5rem;
}

/*это чтобы при выборе каждого пункта он находился сверху,а не на отступе размером с предыдущий. есть ли более красивый способ сделать это ?*/
.products {
    z-index: 1;
    position: absolute;
}

.professional {
    z-index: 2;
    position: absolute;
}

.events {
    z-index: 3;
    position: absolute;
}

.help {
    z-index: 4;
    position: absolute;
}

.nav {
    position: relative;
}

/*навигация,названия менюшек*/
.nav-menu {
    background-color: var(--button-primary-color);
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1.25rem;
    gap: 1.5rem;
}

.nav-radio, .not-nav-radio {
    display: none;
}

.navigation-point {

    gap: 0.25rem;
    font-family: "MTSCompactMedium", sans-serif;
    text-decoration: none;
    display: flex;
    /*align-items: center;*/
    flex-direction: row;
    color: inherit;
}

.nav-label {
    cursor: pointer;
    display: flex;
    /*align-items: center;*/
    gap: 0.5rem;

    align-items: center;
}

.nav-label .icon {
    display: flex;
    align-items: center;
    height: 23px;
}

.icon svg {
    transition: transform 0.3s ease;
}

.navigation-point .nav-radio:checked + .nav-label .icon svg {
    color: var(--button-primary-bg);
    /*transform: rotate(180deg);*/
}

/*почему то происходит полный кошмар со значком стрелочки,он очень странно себя ведет(цвет,повороты). как можно исправить это? */
.navigation-point .not-nav-radio:checked + .nav-label .icon svg {
    color: var(--color-background-secondary-elevated);
    transform: rotate(180deg);
}

/* неочевидная механика работы кнопок,использовались подсказки(*/
.navigation-point .nav-radio:checked ~ .nav-label,
.navigation-point .nav-radio:checked ~ .icon svg {
    color: var(--button-primary-bg);
}

.navigation-point .nav-radio:checked ~ .nav-label[for^="navigation-point-"], .navigation-point .nav-radio:not(:checked) ~ .nav-label[for^="not-navigation-point-"] {
    display: none;
}

/**/

.navigation-point:hover {
    color: var(--button-primary-bg);
}

/*когда переключаемся по навигации*/
.nav:has(#navigation-point-1:checked) .products,
.nav:has(#navigation-point-2:checked) .professional,
.nav:has(#navigation-point-6:checked) .events,
.nav:has(#navigation-point-7:checked) .help {
    display: flex;
    flex-direction: row;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.nav:has(#navigation-point-1:not(:checked)) .products,
.nav:has(#navigation-point-2:not(:checked)) .professional,
.nav:has(#navigation-point-6:not(:checked)) .events,
.nav:has(#navigation-point-7:not(:checked)) .help {
    display: flex;
    flex-direction: row;
}


/*когда на средней вложенности переключаемся*/
.products:has(#prod-1:checked) .product-container#Вычисления,
.products:has(#prod-2:checked) .product-container#Бизнес_приложения,
.products:has(#prod-3:checked) .product-container#Базы_данных,
.products:has(#prod-4:checked) .product-container#Кибербезопасность,
.products:has(#prod-5:checked) .product-container#Сеть_и_медиа,
.products:has(#prod-6:checked) .product-container#ИИ_облако {
    display: block;
}

.products:has(#prod-1:not(:checked)) .product-container#Вычисления,
.products:has(#prod-2:not(:checked)) .product-container#Бизнес_приложения,
.products:has(#prod-3:not(:checked)) .product-container#Базы_данных,
.products:has(#prod-4:not(:checked)) .product-container#Кибербезопасность,
.products:has(#prod-5:not(:checked)) .product-container#Сеть_и_медиа,
.products:has(#prod-6:not(:checked)) .product-container#ИИ_облако {
    display: none;
}

/*то же самое для профессиональные..*/
.professional:has(#professional-1:checked) .professional-container#Консалтинг,
.professional:has(#professional-2:checked) .professional-container#Профессиональные,
.professional:has(#professional-3:checked) .professional-container#Выделенная {
    display: block;
}

.professional:has(#professional-1:not(:checked)) .professional-container#Консалтинг,
.professional:has(#professional-2:not(:checked)) .professional-container#Профессиональные,
.professional:has(#professional-3:not(:checked)) .professional-container#Выделенная {
    display: none;
}

/*то же для события*/

.events:has(#events-1:checked) .events-container#События {
    display: block;
}

.events:has(#events-1:not(:checked)) .events-container#События {
    display: none;
}

/*и поддержка*/

.help:has(#help-1:checked) .help-container#Поддержка {
    display: block;
}

.help:has(#help-1:not(:checked)) .help-container#Поддержка {
    display: none;
}


.first-aside {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.first-aside-point {
    display: flex;

    border-radius: 1rem;
    align-items: center;

}

.item-label {
    white-space: nowrap;
    width: 100%;
    padding: 0.75rem;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.first-aside-point input:checked + .item-label {
    background-color: var(--color-background-inverted);
    color: #fff;
    border-radius: 1rem;
}


.first-aside-point:hover {
    background-color: var(--color-background-secondary);
    border-radius: 1rem;
}

.hider {
    font-family: MTSWide, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0.10rem;
    padding: 0.5rem 80px;


}

.inner-hider {
    font-family: MTSWide, sans-serif;
    font-size: 1.75rem;
    margin-bottom: 0.25rem;
    padding: 0.5rem 20px;
}

.events, .help, .professional, .products {
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;

    width: 100%;
    background-color: var(--button-primary-color);
    opacity: 0;

    border-radius: 1rem;

    transform: translateY(-10px);

}

.last-aside {
    display: flex;
    padding-left: 0.9rem;
    flex-direction: column;
    gap: 0.5rem;
    font-family: MTSText, sans-serif;
}


/*стили для самого вложенного слоя меню*/
.bottom-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

}

.table-item {
    padding: 0.4rem;
    text-align: center;

    gap: 0.5rem;
    border-radius: 0.9rem;
    cursor: pointer;
    /*transition: background-color 0.3s ease;*/
    display: flex;
    flex-direction: row;
}
.table-item:hover {
    background-color: var(--color-background-stroke);
}

.table-item-inn {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
}

.table-item-title {
    font-weight: bold;
    font-family: 'MTSText', sans-serif;
    text-align: left;
}



.table-item-text {
    font-family: 'MTSText', sans-serif;
    text-align: left;
    color: var(--color-text-secondary);
}

@media (max-width: 1280px) {
    .bottom-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .bottom-container {
        grid-template-columns: 1fr;
    }
}