:root {
  font-size: 16px;
  --spacing-onehalf: 1.5rem;
  --spacing-quator: 0.25rem;
  --spacing-half: 0.5rem;
  --spacing-3quator: 0.75rem;
  --spacing: 1rem;
  --backgroun_color_hover: rgba(188, 195, 208, 0.6);
  --description: rgba(54, 62, 69, 0.64);
}

@font-face {
  font-family: "cm";
  src: url("fonts/MTSCompact-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cr";
  src: url("fonts/MTSCompact-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "m";
  src: url("fonts/MTSText-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "r";
  src: url("fonts/MTSText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  background-color: #f2f3f7;
  margin: 0;
  font-family: Arial, sans-serif;
}


.all_menu {
  display: flex;
  flex-direction: column;
}

.center_menu {
  display: flex;
  align-items: center;
  gap: var(--spacing);
  font-family: "cm", sans-serif;
}

.logo {
  margin-right: auto;
}

/* кнопка для center_menu, тг, мэйл */
.mybutton {
  text-decoration: none;
  height: 44px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: "r", sans-serif;
  transition: transform 0.2s ease-in-out;
}

.black_mybutton {
  background: black;
  color: white;
}

.red_mybutton {
  width: 169px;
  background-color: red;
  color: white;
}

.white_mybutton {
  width: 189px;
  background-color: white;
}

.mybutton:hover {
  transform: scale(1.05);
}

.menu_label {
  text-align: left;
  cursor: pointer;
}

.menu_arrow {
  margin-left: auto;
  display: flex;
  align-items: center;
  height: 23px;
}

.menu_arrow svg {
  transition: transform 0.3s ease;
}

/* немного магии с фиктивными кнопками, чтобы выделялись кнопки при выборе */
/* при checkbox было наслоение меню, а radio кнопки нельзя выключать при повторном нажатии */
/* поэтому я создал фиктивную кнопку */
.main_menu_item .menu_radio:checked ~ .menu_label,
.main_menu_item .menu_radio:checked ~ .menu_arrow svg {
  color: red;
}

.main_menu_item .menu_radio:checked ~ .menu_label[for^="menu_"] {
  display: none;
}

.main_menu_item .menu_radio:not(:checked) ~ .menu_label[for^="empty_menu_"] {
  display: none;
}

.main_menu_item:hover {
  color: red;
}

.grid_item:hover {
  background-color: var(--backgroun_color_hover);
}

.main_menu_item .menu_radio:checked ~ .menu_arrow svg {
  transform: rotate(180deg);
}

.main_menu_item .menu_radio_empty:checked ~ .menu_label,
.main_menu_item .menu_radio_empty:checked ~ .menu_arrow svg {
  color: black;
}

/* здесь открываю вложенное меню для кнопки Продукты */
.all_menu:has(#menu_1:checked) .white_2nd_menu {
  display: flex;
  flex-direction: row;
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.all_menu:has(#menu_1:not(:checked)) .white_2nd_menu {
  display: flex;
  flex-direction: row;
}

.second_menu_label {
  white-space: nowrap;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}



.grid_item_description {
  font-family: "r";
  text-align: left;
  color: var(--description);
}

.link {
  display: flex;
  text-decoration: none;
  color: inherit;
  gap: var(--spacing-half);
}

/* Меню с выбором продуктов, сервисов, партнеров */
.main_menu {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: var(--spacing-half) 0px;
  gap: var(--spacing-onehalf);
}

.menu_radio,
.menu_radio_empty {
  display: none;
}

/* табличка с услугами в продуктах */
.white_2nd_menu {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.white_2nd_menu_description {
  display: flex;
  flex-direction: column;
}



@media (max-width: 700px) {
  .first_menu {
    display: flex;
    background-color: white;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing) 0;
    width: 100%;
  }

  .main_menu {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-half) 0px;
    gap: var(--spacing-onehalf);
    position: relative;
  }

  .main_menu:has(#menu_1:checked) .left_submenu_for_phone1 {
    display: block
  }

  .white_2nd_menu_description{
      padding: 0px;
      margin: 0px;
  }

  .white_mybutton {
    display: none;
  }

  .red_mybutton {
    display: none;
  }

  .main_menu_item {
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
  }
  
  .phone_main_button{
    display: flex;
    flex-direction: row;
  }

  .left_submenu_for_phone1 {
    display: none; 
    color: black;
    top: 100%;
    left: 0;
    width: 100%; 
    background-color: white;
  }




  .nested-accordion-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    height: 24px;
    width: 24px;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    outline: none;
    padding: 0;
    position: relative;
  }
  
  .nested-accordion-button > .horizontal-line,
  .nested-accordion-button > .vertical-line {
    background: black;
    border-radius: 1px;
    height: 2px;
    position: absolute;
    width: 16px;
  }
  
  .vertical-line {
    transform: rotate(90deg); 
    transition: transform 0.4s ease;
  }
  
  .horizontal-line {
    transform: rotate(0deg); 
    transition: transform 0.4s ease;
  }
  
  input[type="radio"]:checked + .nested-accordion-button .vertical-line {
    transform: rotate(45deg);
  }
  
  input[type="radio"]:checked + .nested-accordion-button .horizontal-line {
    transform: rotate(-45deg);
  }
  
  .left_submenu_for_phone1 .white_2nd_menu_description_item:has(#second_menu_radio_1:checked) .white_2nd_menu_table,
  .left_submenu_for_phone1 .white_2nd_menu_description_item:has(#second_menu_radio_2:checked) .white_2nd_menu_table,
  .left_submenu_for_phone1 .white_2nd_menu_description_item:has(#second_menu_radio_3:checked) .white_2nd_menu_table {
    opacity: 1;
    height: auto;
  }

  .left_submenu_for_phone1 .white_2nd_menu_description_item:has(input[type="radio"]:checked) .white_2nd_menu_table .grid_table {
    display: flex;
  }

  .white_2nd_menu_table{
    opacity: 0;
    height: 0; 
    overflow: hidden; 
    transition: opacity 0.3s ease, height 0.3s ease;
  }

  .grid_table {
    display: none; 
    flex-direction: column; 
    gap: 15px; 
    align-items: stretch;
  }

  .submenu_button{
    display: flex;
    flex-direction: row;
    width: 100%; 
    align-items: center;
    justify-content: flex-start;
  }

  .grid_item {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-half);
    border-radius: 15px;
    cursor: pointer;
  }
  
  .grid_item_cell {
    display: flex;
    flex-direction: column;
  }
  
  .white_2nd_menu_description_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
  }
  
  .white_2nd_menu_description_item_button {
    display: none;
  }

  .grid_item_title {
    font-weight: bold;
    font-family: "r";
    text-align: left;
  }
  
  .grid_item_subtitle {
    font-family: "r";
    text-align: left;
  }

  .left_submenu_for_computer{
    display: none;
  }

  .white_2nd_menu_description_item_button{
    display: none;
  }

  
}

/* main_menu_item -> white_2nd_menu */